{% extends "myapp/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<paper-input-decorator label="{{ form.username.label }}" floatingLabel="true">{{ form.username }}</paper-input-decorator>
<paper-input-decorator label="{{ form.password.label }}" floatingLabel="true">{{ form.password }}</paper-input-decorator>

<input class="btn btn-primary" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}