{% extends "myapp/base.html" %}

{% block content %}

<!-- <paper-button id="signIn">Sign In <core-icon icon="face-unlock"></core-icon><core-icon icon="arrow-forward"></core-icon></paper-button> -->

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<paper-input-decorator label="{{ form.username.label }}" floatingLabel="true">{{ form.username }}</paper-input-decorator>
<paper-input-decorator label="{{ form.password.label }}" floatingLabel="true">{{ form.password }}</paper-input-decorator>
<paper-button id="submitButton" class="primary-button" raised>Login</paper-button>

</form>

{% endblock %}