
{% extends 'myapp/base.html' %}

{% block content %}
	<div class="intro">	
			<p>Tell us what is wrong with our documetation or what would you like to have there?</p>
	</div>

    <div class="row">
			{% for entry in entries %}
            <div class="panel panel-default">
   				<div class="panel-body entry">
   					<div class="date">
        				<p>created: {{ entry.created_date }}</p>
    				</div>
        			<h3><a href="{% url 'myapp.views.entry_details' pk=entry.pk %}">{{ entry.summary }}</a></h3>
        			<hr/>
        			<p>{{ entry.text|linebreaks }}</p>
        			<p><strong>Tags:</strong> {% for tag in entry.tags.all %}<a href="{% url 'myapp.views.tagged_list' pk=tag.pk %}"><span class="label label-default">{{tag}}</span></a> {% endfor %}</p>
        			<div class="author">
        				<p>by <span>{{entry.author}}</span></p>
    				</div>
    			</div>
            </div>
			{% endfor %}	
	</div>
{% endblock content %}